{% extends 'base.html' %}
{% block title %}about{% endblock title %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
    <title>Staff List</title>
</head>
<body>
    <div class="section-title" style="background-color: #007bff; color: #fff; padding: 10px; margin-bottom: 20px;">
        <center>
            <h1>Staff List</h1>
        </center>
    </div>
    <center>
    <table class="appointment-table" style="margin:30px;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for staff_member in staff %}
            <tr>
                <td>{{ staff_member.name }}</td>
                <td>{{ staff_member.role }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock body %}
